* {
    user-select: none;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.board-cover {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: darkslategray;
    padding: 20px;
    border-radius: 30px;
}


#active {
    font-family: 'Roboto Slab', serif;
    color: wheat;
    font-size: 30px;
}

#information {
    font-family: 'Roboto Slab', serif;
    color: #c24923;
    font-size: 30px;
}


#board {
    width: 544px;
    height: 544px;
    display: flex;
    flex-wrap: wrap;
}

.under-board {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.square {
    height: 64px;
    width: 64px;
    margin: 2px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square svg {
    position: relative;
    z-index: -9;
}

path {
    position: relative;
    z-index: -10;
}

.figure {
    position: relative;
    z-index: 9;
}

.beige {
    background-color: wheat;
    border-radius: 10px;
    border: azure;
}

.brown {
    background-color: chocolate;
}

.black {
    fill: #313131;
}

.white {
    fill: #a0a4a0;
}